body{
    margin: 0 auto;
    font-family: "Perpetua";
}

.list{
  list-style: none;
  float:right;
  padding:10px 20px;
  color: #fff;
}

.logo{
  float:left;
  width: 65px;
  height: 65px;
  border-radius: 35px;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  padding:5px;
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9); 
  position: fixed;
}

.top-wrapper{
    padding: 180px 0 100px 0;
    background-image: url(https://i.postimg.cc/vT9rQ7wK/libraryedit.jpg);
    background-size: cover;
    color:whitesmoke;
    text-align:center;
}
.top-wrapper h1{
    font-size:45px;
    opacity:0.8;
    letter-spacing:4px;
} 
  .top-wrapper p{
    opacity: 0.8;
    margin-bottom: 3px;
}
.contents{
    padding: 100px 60px;
}
.section-title{
    text-align: center;
    font-size:30px;
    border-bottom:2px solid #dee7ec;
    padding-bottom:30px;
    margin-bottom:50px;
}
.contents-item{
    float:left;
    width:25%;
    text-align: justify;
}
.contents-item p{
    
}
.txt-content{
    width:80%;
    display:inline-block;
    font-size:15px;
    color:#b3aeb5;
    border-bottom:2px solid #dee7ec;
    padding-bottom:30px;
}

footer{
    background-color: rgba(34, 49, 52, 0.9);
    text-align: center;
    float: left; 
    width: 100%;
    height: 80px;
    color: #fff;
}
span{
  padding: 0px 10px;
  color: #fff;
}

